<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/expenses"></ion-back-button>
		</ion-buttons>
		<ion-title>
			Expenses Demo
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size-md="6" offset-md="3">
				<ion-card>
					<ion-card-header>
						<ion-card-title>New Expense</ion-card-title>
					</ion-card-header>

					<ion-card-content>
						<ion-item>
							<ion-label position="floating">Description</ion-label>
							<ion-input type="text" [(ngModel)]="expense.description"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Category</ion-label>
							<ion-select [(ngModel)]="expense.category">
								<ion-select-option *ngFor="let category of categories" [value]="category">{{category | titlecase}}</ion-select-option>
							</ion-select>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Payment Method</ion-label>
							<ion-select [(ngModel)]="expense.payment_method">
								<ion-select-option value="credit">Credit</ion-select-option>
								<ion-select-option value="debit">Debit</ion-select-option>
							</ion-select>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Responsable</ion-label>
							<ion-select [(ngModel)]="expense.responsable">
								<ion-select-option value="john">John</ion-select-option>
								<ion-select-option value="doe">Doe</ion-select-option>
							</ion-select>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Amount</ion-label>
							<ion-input type="number" [(ngModel)]="expense.amount"></ion-input>
						</ion-item>

						<div margin-vertical text-right>
							<ion-button fill="outline" color="danger" (click)="clearExpense()">
								<ion-icon name="close" slot="start"></ion-icon>Clear
							</ion-button>

							<ion-button (click)="addExpense()">
								<ion-icon name="add" slot="start"></ion-icon>Add Expense
							</ion-button>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
